/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');




body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    --body-color: #f3f4f6;
}


/* O conteúdo da página (main) */
main {
    margin-left: 20px; /* Margem para não sobrepor a sidebar */
    padding: 20px; /* Adiciona algum espaço ao redor do conteúdo */
    background-color: #f3f4f6; /* Cor de fundo para o conteúdo */
}

/* Sidebar */
aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 67px; /* Largura da sidebar */
    height: 100vh; /* Altura da sidebar, ocupando toda a tela */
    border: 1px solid #ddd; /* Borda suave na tabela */
}













