/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');




body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    --body-color: #f3f4f6;
    }
    
    .container {
        width: 90%;
        margin: 0 auto;
        padding: 1rem;
    }
    
    .container #searchInput {
        margin-left: 5%;
    }
    
    
    main {
        margin-left: 200px; /* Aumenta a distância da sidebar */
        padding: 20px;
        background-color: #f3f4f6;
    }
    
    
    /* Sidebar */
    aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px; /* Largura da sidebar */
    height: 100vh; /* Altura da sidebar, ocupando toda a tela */
    border: 1px solid #ddd; /* Borda suave na tabela */
    }
    
    
/* Adicione media queries para telas grandes */
@media (min-width: 1920px) {
    .container {
        max-width: 1600px; /* Limite máximo */
        margin: 0 auto; /* Centraliza o container */
    }
}













